<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['about']">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a *ngIf="userIsAuthorized" (click)="login()"><span class="glyphicon glyphicon-user"></span> Login</a></li>
            <li><a (click)="logoff()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            <li><a>Hello, Username: {{userInfo?.firstName}}</a></li>
        </ul>
    </div>
</nav>